<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<config>
<name>Ateliê da Rose</name>
<url>http://www.ateliedarose.com.br/</url>
<path>/mnt/windows/Users/Luciano/IAutomate/Clientes/Atelie da Rose/Produtos/Echarpes</path>
<active>1</active>
<on_sale>0</on_sale>
<available>1</available>
<show_price>1</show_price>
<delete_images>1</delete_images>
<only_online>0</only_online>
</config>
